%section.intro.padded
  .browse
    = link_to 'Browse', root_path(anchor: "listings"), :class => 'smoothScroll button'
  .list
    = link_to 'New listing', new_listing_path, :class => 'button'

%section
  %ul.listings#listings
    - @listings.each do |listing|
      %a.listing{:href => listing_path(listing)}
        %li
          %h3=listing.title
          %p=listing.text

